:root {
    --pink: #e84393;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

section {
    padding: 2rem 9%;
}

.headings{
    text-align: center;
    font-size: 4rem;
    color: #333;
    padding: 1rem;
    margin: 2rem 0;
    background: rgb(255, 51, 153, .05);
}
.headings span{
    color: var(--pink);
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    padding: .9rem 3.5rem;
    border-radius: .5rem;
    background: #333;
    color: #fff;
    font-size: 1.7rem;
    cursor: pointer;
}
.btn:hover{
    background: var(--pink);
    }

/* header section start */
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}

header .logo {
    color: #333;
    font-size: 3rem;
    font-weight: bolder;
}

header .logo span {
    color: var(--pink)
}

header .navbar a {
    font-size: 2rem;
    color: #666;
    padding: 0 1.5rem;
}

header .navbar a:hover {
    color: var(--pink);
}

header .icons a {
    font-size: 2rem;
    color: #333;
    margin-left: 1.5rem;
}

header .icons a:hover {
    color: var(--pink);
}

header #toggler {
    display: none;
}

header .fa-bars {
    font-size: 3rem;
    color: #333;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    cursor: pointer;
    border-radius: 1rem solid rgba(0, 0, 0, .3);
    display: none;
}

@media(max-width:991px) {
    html {
        font-size: 55%;
    }

    header {
        padding: 2rem;
    }
    section {
        padding: 2rem;
    }
    .home {
      background-position: left;
    }
}


@media(max-width:768px) {
    header .fa-bars {
        display: block;
    }

    header .navbar {
        position: absolute;
        top: 100%;
        left: 0%;
        right: 0;
        background: #eee;
        border-top: .1rem solid rgba(0, 0, 0, .1);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header #toggler:checked~.navbar {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    header .navbar a {
        display: block;
        margin: 1.5rem;
        padding: 1.5rem;
        background: #fff;
        border: 1rem solid (0, 0, 0, rgba(0, 0, 0, .1));
    }
}

.home {
    background: url(./img/img1.1.jpg) no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    background-position: center;
    min-height: 100vh;
}
.home .content{
    max-width: 50rem;
}
.home .content h3{
    font-size: 5rem;
    color: #333;
}
.home .content span{
    font-size: 2.5rem;
    color: var(--pink);
    padding: 1rem 0;
    line-height: 1.5;
    }

   @media (max-width:450px){
    html{
        font-size: 50%;
    }
    .headings{
        font-size: 3rem;
    }
   } 

/***************************** about section******************************* */

    .heading{
        font-size: 3rem;
        padding: 1rem 0;
        line-height: 1.5;
    }

.about .row{
    display: flex;
    align-items: center;
    gap: 2rem;
    margin: 2rem 0;
    flex-wrap: wrap;
    padding: 2rem 0;
    padding-bottom: 3rem;
}
.about .row .video{
    flex: 1 1 40rem;
    position: relative;
    }
    .about .row .video video{
        width: 100%;
       border: 1.5rem solid #fff ;
       border-radius: .5rem;
       box-shadow: 0 .5rem 1rem rgb(0, 0, 0,.1);    
       height: 100%;
       object-fit: cover;
    }
    .about .row .video h3{
        position: absolute;
        top: 50%;
        font-size: 3rem;
        color: #333;
        background: #fff;
        transform: translateY(-50%);
        width: 100%;
        text-align: center;
        mix-blend-mode: screen;
        }
        .about .row .content{
            flex: 1 1 40rem;
            }
  .about .row .content h3{
    font-size: 3rem;
    color: #333;

  }
  .about .row .content p{
    font-size: 1.5rem;
    color: #999;
    padding: 5rem 0;
    padding-top: 1rem;
    line-height: 1.5;
  }

/***************************** icons section******************************* */


  .icons-conta{
    display: flex;
    background: #eee;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
   
}
.icons-conta .icons{
    background: #fff;
    padding: 2rem;
    border: .1rem solid rgb(0, 0, 0,.1);
    display: flex;
    align-items: center;
    flex: 1 1 25rem;
}
.icons-conta .icons img{
    width: 5rem;
margin-right: 2rem;
    }
    .icons-conta .icons h3   {
        font-size: 1.5rem;
        color: #333;
        padding-bottom: .5rem;
    }
    .icons-conta .icons span  {
        font-size: 1.3rem;
        color: #555;
        padding-bottom: .5rem;
     
    }


/***************************** product section******************************* */


    .products  .h1{
        font-size: 1.5rem;
        color: var(--pink);
        text-align: center;
    }
    .products .box-container{
        display: flex;
        flex-wrap: wrap;
        gap: 4.5rem;
    }
    .products .box-container .box{
        flex: 1 1 30rem;
        box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
        border-radius: .5rem;
        border: .1rem solid rgba(0, 0, 0, .1);
        position: relative;
        }
        .products .box-container .box .discount{
           position: absolute;
           top: 1rem; left: 1rem;
           padding: 2rem -1rem;
           font-size: 1rem;
           color:var(--pink);
           background: rgb(255, 51, 153, .05);
           z-index: 1;
           border-radius: .5rem;
            }

        .products .box-container .box .span {
            position: absolute;
            top: 1rem; left: 1rem;
            background: var(--pink);
            padding: 7rem 1rem;
            font-size: 2rem;
            background: rgb(255, 51, 153, .05);
            z-index: 1;
            border-radius: .5rem;
        }
        .products .box-container .box .image{
            position: relative;
            text-align: center;
            padding-top: 2rem;
            overflow: hidden;
        } 
        .products .box-container .box .image img{
            height: 25rem;
        }
        .products .box-container .box:hover .image img{
            transform: scale(1.1);
            }
            .products .box-container .box .image .icons{
                position: absolute;
                 left: 0; bottom: -7rem; right: 0;
                 display: flex;
            }
            .products .box-container .box:hover .image .icons {
                bottom: 0;
                }
            .products .box-container .box .image .icons a{
                height: 5rem;
                width: 50%;
                background: var(--pink);
                font-size: 2rem;
                line-height: 5rem;
                color: #fff;
                text-align: center;
            }
            .products .box-container .box .image .icons .cart-btn{
                border-left: .1rem solid #fff7;
                width: 100%;
                border-right: .1rem solid #fff7;
                }
                .products .box-container .box .image .icons a:hover{
                    background: #333;
                }
                .products .box-container .box .content{
                    padding: 2rem;
                    text-align: center;
                }
                .products .box-container .box .content h3{
                    font-size: 2.5rem;
                    color: #333;
                }
                .products .box-container .box .content .price{
                    font-size: 2.5rem;
                    color: var(--pink);
                    font-weight: bolder;
                    padding-top: 1rem;
                }
                .products .box-container .box .content .price span{
                    font-size: 1.5rem;
                    color: #999;
                    font-weight: lighter;
                   text-decoration: line-through;
                }


/***************************** review section******************************* */



.review .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.review .box-container .box{
flex: 1 1 30rem;
box-shadow: 0 .5rem 1.5rem rgb(0, 0, 0,.1);
border-radius: 5rem;
padding: 3rem 2rem;
position: relative;
border: 1rem solid rgb(0, 0, 0,.1);
}
.review .box-container .box .fa-quote-right{
    position: absolute;
    bottom: 3rem;right: 3rem;
    font-size: 6rem;
    color: #eee;
}
.review .box-container .box .stars i{
  color: var(--pink);
  font-size: 2rem;
}
.review .box-container .box p{
    color: #999;
    font-size: 1.5rem;
    line-height: 1.5rem;
    padding-top: 2rem;
}
.review .box-container .box .user{
  display: flex;
  align-items: center;
  padding-top: 2rem;
}
.review .box-container .box .user img{
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 1rem;
}
.review .box-container .box .user h3{
font-size: 2rem;
color: #999;
}
.review .box-container .box .user span{
   font-size: 1.5rem;
   color: #999;
}



/***************************** contact section******************************* */

.contact .row{
    display: flex;
    flex-wrap: wrap-reverse;
    gap: 1.5rem;
    align-items: center;
}
.contact .row form{
    flex: 1 1 40rem;
    padding: 2rem 2.5rem;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
    border: 1rem solid rgba(0, 0, 0, .1);
    background: #fff;
 border-radius: .5rem;
 }
 .contact .row .img{
    flex: 1 1 40rem;
    }
    .contact .row .img img{
        width: 100%;

        }
  .contact .row form .box{
    padding: 1rem;
    font-size: 1.7rem;
    color: #333;
    text-transform: none;
    border: 1rem solid rgb(0, 0, 0,.1);
    border-radius: .1rem;
    margin: 1rem 0;
    width: 100%;
  }      
  .contact .row form .box:focus{
border-color: var(--pink);
    }
    .contact .row form .box textarea{
        height: 15rem;
        resize: none;
        }


        /* footer  section */

  .footer .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
  }      
  .footer .box-container .box{
    flex: 1 1 25rem;
  }
  .footer .box-container .box h3{
    font-size: 2.5rem;
    color: #333;
    padding: 1rem 0;
    }
    .footer .box-container .box a{
        font-size: 1.5rem;
        color: #666;
        display: block;
        padding: 1rem 0;
        }
        .footer .box-container .box a:hover{
           color: var(--pink);
           text-decoration: underline;
            }
            .footer .box-container .box img{
                margin-top: 1rem;
                }
                .footer .credit{
                    text-align: center;
                    padding: 1.5rem ;
                    font-size: 2rem;
                    color: #333;
                    margin-top: 1.5rem;
                    padding-top: 2.5rem;
                    border-top: .1rem solid rgb(0, 0, 0,.1);
                }
                .footer .credit span{
                    color: var(--pink);
                    }

